django
djangorestframework
django-cors-headers
Pillow
stripe
Django==5.2.3
djangorestframework
django-cors-headers
python-dotenv
dj-database-url
psycopg2-binary
gunicorn
whitenoise
django-allauth
dj-rest-auth
PyJWT
cryptography
stripe
django-import-export
